<header class="header">
 
    <nav class="header__nav">
      <!--//================= logo =================//-->
      <img src="./images/header/logo@m1x.png" alt="logo" />
      <!--//== nav__links = nav links = nav__link ==//-->
      <ul class="nav__links">
        <li class="nav__link">Home</li>
        <li class="nav__link">How it’s made?</li>
        <li class="nav__link">Our products</li>
        <li class="nav__link">Contact</li>
      </ul>
      <!--//= nav__menu-btn = burger = nav__menu-icon =//-->
      <button
        class="nav__menu-btn"
        data-menu-open
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="nav__menu-icon" width="32" height="32">
          <use href="./images/svg/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <!--//= header__btn = button buy = header__btn-icon =//-->
      <button
        type="button"
        class="header__btn"
        data-aos="zoom-in-left"
        onclick="myFunction()"
      >
        Buy now
        <svg class="header__btn-icon" width="10" height="14">
          <use href="./images/svg/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <!--//=============== / / / ================//-->
    </nav>

    <!--//============ icecream img ============//-->
    <div class="hero">
      <picture>
        <source
          srcset="
            ./images/header/icecream@m1x.png 1x,
            ./images/header/icecream@m2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            ./images/header/icecream@t1x.png 1x,
            ./images/header/icecream@t2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/header/icecream@d1x.png 1x,
            ./images/header/icecream@d2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="hero__icecream"
          src="./images/header/icecream@m1x.png"
          alt="icecream"
        />
      </picture>
      <!--//================= smile 1 ============//-->
      <picture>
        <source
          srcset="
            ./images/header/smile1@m1x.png 1x,
            ./images/header/smile1@m2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            ./images/header/smile1@t1x.png 1x,
            ./images/header/smile1@t2x.png
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/header/smile1@d1x.png 1x,
            ./images/header/smile1@d2x.png
          "
          media="(min-width: 1200px)"
        />
        <img
          class="hero__icecream-one"
          src="./images/header/smile1@m1x.png"
          alt="smile one"
        />
      </picture>
      <!--//================= smile 2 ===========//-->
      <picture>
        <source
          srcset="
            ./images/header/smile2@m1x.png 1x,
            ./images/header/smile2@m2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            ./images/header/smile2@t1x.png 1x,
            ./images/header/smile2@t2x.png
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/header/smile2@d1x.png 1x,
            ./images/header/smile2@d2x.png
          "
          media="(min-width: 1200px)"
        />
        <img
          class="hero__icecream-two"
          src="./images/header/smile2@m1x.png"
          alt="smile two"
        />
      </picture>
      <!--//================= smile 3 ===========//-->
      <picture>
        <source
          srcset="
            ./images/header/smile3@m1x.png 1x,
            ./images/header/smile3@m2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <source
          srcset="
            ./images/header/smile3@t1x.png 1x,
            ./images/header/smile3@t2x.png
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/header/smile3@d1x.png 1x,
            ./images/header/smile3@d2x.png
          "
          media="(min-width: 1200px)"
        />
        <img
          class="hero__icecream-three"
          src="./images/header/smile3@m1x.png"
          alt="smile three"
        />
      </picture>
      <!--//============== /  /  / ==============//-->
    </div>
  </div>
   <div class="header__background">
    <!--//================= dot png bg1 =============//-->
    <picture>
      <source
        srcset="./images/header/dot@m1x.png 1x, ./images/header/dot@m2x.png 2x"
        media="(min-width: 480px)"
      />
      <source
        srcset="./images/header/dot@t1x.png 1x, ./images/header/dot@t2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/header/dot@d1x.png 1x, ./images/header/dot@d2x.png 2x"
        media="(min-width: 1200px)"
      />
      <img class="dot" src="./images/header/dot@m1x.png" alt="" />
    </picture>
</header>
